<%# This partial template renders the footer for all pages %>
<%# It displays the copyright information with consistent styling %>

<footer class="footer bg-dark py-3 mt-auto">
    <div class="container text-center">
        <div class="row">
            <div class="col-12 mb-2">
                <span class="text-light">&copy; YelpCamp <%= new Date().getFullYear() %></span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="/about" class="text-light me-3">About</a>
                <a href="/citations" class="text-light">Image Citations</a>
            </div>
        </div>
    </div>
</footer>