<%# This partial template renders the navigation bar %>
<%# It includes links to home, campgrounds, and user authentication %>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <%# Brand logo/name with link to home page %>
        <a class="navbar-brand" href="/">YelpCamp</a>
        
        <%# Hamburger menu button for mobile view %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <%# Collapsible navbar content %>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <%# Left-aligned navigation links %>
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/campgrounds">Campgrounds</a>
                <a class="nav-link" href="/campgrounds/new">New Campground</a>
            </div>
            
            <%# Right-aligned authentication links %>
            <div class="navbar-nav ml-auto">
                <%# Conditional rendering based on user authentication status %>
                <% if(!currentUser) {%>
                    <%# Display Login and Register links for non-authenticated users %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                <% } else {%>
                    <%# Display Profile and Logout links for authenticated users %>
                    <a class="nav-link" href="/users/profile">Profile</a>
                    <a class="nav-link" href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>