/* Styles for the home page body */
body {
    min-height: 100vh;
    position: relative;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://res.cloudinary.com/dttpm6icr/image/upload/v1721442516/timothy-dykes-f0pBXcgZE8U-unsplash_psys0u.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.cover-container {
    position: relative;
    z-index: 1;
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

main h1,
main p,
main ul,
main a {
    max-width: 80%;
}

main ul li {
    font-size: 200%;
}

footer {
    margin-top: auto;
    padding-bottom: 1rem;
}

/* Navigation link styles */
.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

/* Hover effect for navigation links */
.nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
}

/* Active navigation link styles */
.nav-link.active {
    color: white;
    border-bottom-color: white;
}

/* Button styles */
.btn-secondary,
.btn-secondary:hover {
    color: #333;
    text-shadow: none;
}

/* Header styles */
header h3 {
    font-size: 2.5rem;
    font-weight: bold;
}