<% layout('layouts/boilerplate')%>

<div class="container mt-5">
    <h1>Welcome to YelpCamp</h1>
    <p>View our hand-picked campgrounds from all over the world</p>
    <a class="btn btn-primary" href="/campgrounds">View Campgrounds</a>
</div>